<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217184172054-n7sok8v3o9ti1a74asngcdsojqnhusr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217184172054-n7sok8v3o9ti1a74asngcdsojqnhusr7</string>
	<key>API_KEY</key>
	<string>AIzaSyAR3QNnKnfcWACLuze4zXcPEn0jGb1Gcyk</string>
	<key>GCM_SENDER_ID</key>
	<string>217184172054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>igor.testapp.MyStore</string>
	<key>PROJECT_ID</key>
	<string>mystore-aa81d</string>
	<key>STORAGE_BUCKET</key>
	<string>mystore-aa81d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217184172054:ios:fb069c2dc2d23996e35d37</string>
	<key>DATABASE_URL</key>
	<string>https://mystore-aa81d.firebaseio.com</string>
</dict>
</plist>